
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_site.cshtml";
}

<h2>About</h2>

<p>
  Blockchain, Machine Learning, Meanstack, Artifical Intelligence, Kotlin, Cloud Computing, Angular, React, IOT, DevOps, RPA, Virtual Realty, Embedded Systems, Robotics, PHP, .Net, Big Data and Hadoog, Seleninum, Linux, C++ and many more technologies.
</p>
@section headSection{
    <style>
        h2 {
            background-color:blue;
            color:white;
            text-align:center
        }


    </style>
    <script>
        alert("about Bizruntime");
    </script>
    
    
    
    }